.application-container {
  height: 100%;
  width: 100%;

  header h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .body-container {
    width: 100%;

    .form {
      width: 90%;
      padding-top: 5%;
      padding-right: 5%;
      padding-left: 5%;

      margin: auto;
      border: 1px solid black;
      max-width: 400px;
      min-height: 200px;

      .control {
      }
    }
  }
}
