<div class="application-container">
  <header>
    <h2>MULTI RADIO SELECT COMPONENT DEMO</h2>
  </header>
  <div class="body-container">
    <div class="form">
      <div class="control">
        <multi-radio-select-control
          [multiRadioSelectControlInput]="{ placeHolder: 'Custom Control' }"
          [multiRadioSelectDialogInput]="{
          searchControlPlaceHolder: 'Custom Place Holder',
          dialogTitle: 'Multi Radio Select Title',
          disableClose: false,
          minWidth: 400,
          minHeight: 400,
          maxWidth: 800,
          maxHeight: 800
          }"
        >
        </multi-radio-select-control>
      </div>
    </div>
    <pre></pre>
  </div>
</div>
